<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'name'  %>
  </div>

  <div class="field">
    <%= form.label :admission_number %>
    <%= form.text_field :admission_number, id: 'number'%>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: 'age' %>
  </div>

  <div class="field">
    <%= form.label :admission_date %>
    <%= form.date_select :admission_date %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary', :onclick => "return confirm('Please confirm:- '
    + 'Name: ' + document.getElementById('name').value + ', Admission Number: ' + document.getElementById('number').value + ', Age' + document.getElementById('age').value + '?')" %>
  </div>
<% end %>
